@use '../../styles/main.scss' as *;

.selectWrapper {
  position: relative;
  width: fit-content;
  &__select {
    box-sizing: border-box;
    border-radius: toRem(100);
    border: toRem(1) solid $greenish-border;
    padding-left: toRem(15);

    font-family: var(--font-inter);
    font-size: toRem(16);
    font-weight: 400;
    line-height: toRem(30);
    text-align: left;
    color: $primary-black;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    cursor: pointer;

    // &.dynamic {
    //   padding-right: toRem(30);
    // }

    &::-ms-expand {
      display: none;
    }

    &:focus {
      outline: none;
    }
  }

  &__svg {
    width: toRem(18);
    height: toRem(18);

    position: absolute;
    top: 50%;
    right: toRem(13.5);
    transform: translateY(-50%);
    pointer-events: none;
  }
}
