$col-off: #bababa;
$col-white: #ffffff;
$greenish-white: #f0fffb;
$greenish-border: #c0d3ce;
$light-green: #ebfff9;
$primary-black: #00140f;
$secondary-black: #000014;
$greenish-placeholder: #8a9995;
$bright-green: #00e5a4;
$bright-green-2: #00af7e;
$greenish-grey: #8a9995;

%mg_au {
  margin: 0 auto;
}
%ta_center {
  text-align: center;
}
